@import "tailwindcss";

@theme {
  --color-brand: #eeaa00;

  --font-family-sans:
    Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  body {
    @apply bg-white text-gray-700 font-sans antialiased;
  }
}

@layer utilities {
  .bg-dot-pattern {
    background-image: radial-gradient(
      theme(colors.gray.200) 1px,
      transparent 1px
    );
    background-size: 1.5rem 1.5rem;
  }
}
